.intro {
    font-family: fantasy;
    font-style: italic; 
    color: #f7325e;  
}

.trips {
    font-size: 1cm;
    color: #7dc410;
    font-family: fantasy;
}

.popular {
    background-color: red;
}

body {
    text-align: center;
}

img {
    height: 7cm;
    width: 7cm;
}